@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    scroll-behavior: smooth;
    background-image: url(https://th.bing.com/th/id/R.a42756d3103f3cb0e7d67f935f63ad43?rik=RTmTDPCdJ%2fcZHw&riu=http%3a%2f%2fgetwallpapers.com%2fwallpaper%2ffull%2f8%2fb%2fa%2f172953.jpg&ehk=YdmDX9G4mlrssEnk%2bKRGSDHGvFZIOYB9WgR6LSgL6PM%3d&risl=&pid=ImgRaw&r=0);
}