@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-image: url(https://th.bing.com/th/id/R.eb65e0eca2b579f2d72459022e8f8be8?rik=SKzUWtlje5XK1g&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: 100%;
    overflow: hidden;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .scary-button {
    margin-top: -600px;
    background-image: url(https://th.bing.com/th/id/R.eb65e0eca2b579f2d72459022e8f8be8?rik=SKzUWtlje5XK1g&pid=ImgRaw&r=0);
    background-repeat: no-repeat;
    background-size: 100%;
    color: #fff;
    border: 3px solid #ff0000;
    border-radius: 8px;
    font-size: 48px;
    font-weight: bold;
    padding: 30px 60px;
    box-shadow: 0px 0px 10px #ff0000;
    transition: all 0.3s ease;
  }
  
  .scary-button:hover {
    border-color: #000;
    box-shadow: 0px 0px 20px #000;
  }
  
  .scary-text {
    padding-top: 250px;
    font-family: 'Cinzel Decorative', cursive;
    font-size: 55px;
    font-weight: bold;
    color: #ff0000;
    text-align: center;
    text-shadow: 2px 2px 5px #000;
    background: none;
  }
  